$blanc:rgb(247, 242, 242);
$bleu:blue;
$rouge:red;

// stylisation de la navbar 

.Navbar{
color: $blanc;

}

.droite{
    color: $blanc;
    width: 100px;
    height: 40px;
    background: $bleu;
    justify-content: space-between;
    margin-left: 80%;
    margin-top: -3%;
    text-align: center;
    align-items: center;
    border-radius: 10px;
    cursor: pointer;
    

    p{  color: $blanc;
        padding: 8%;
        text-decoration: none;
    }

}
